.recipes{
    font-family: 'Quicksand', sans-serif;
    font-size:medium;
    color:black;
}

.openingtitle{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
    color:white;
    background-color:orange;
    padding:30px;
    border:5px solid darkorange;
}

.recipepics{
    height:auto;
    width:200px;
    margin:30px;
}

.openingtitletwo{
    font-family:'Quicksand', sans-serif;
}

.recipetext {
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    color:black;
    font-weight:500;

}

.recipetext li{
    font-family: 'Quicksand', sans-serif;
    text-align:left;
}

.sectiontext{
    font-family: 'Quicksand', sans-serif;
}

.button{
    font-family:'Quicksand', sans-serif;
}

.block{
    display:block;
}

.flex{
    display:flex;
    justify-content:center;
}